default: &default
  adapter: postgresql
  encoding: unicode
  username: <%= ENV['POSTGRES_USER'] %>
  password: <%= ENV['POSTGRES_PASSWORD'] %>
  host: <%= ENV['POSTGRES_HOST'] %>
  pool: <%= ENV['RAILS_MAX_THREADS'] { 5 } %>

development:
  <<: *default
  database: publications_development

test:
  <<: *default
  database: publications_test

production:
  <<: *default
  database: <%= ENV['POSTGRES_DATABASE'] %>
